#projects {
    padding-left: 15%;
    padding-right: 25%;
    padding-top: 5%;
    min-height: 60vh;
  }
.section-title{
    color: #9aadbf;
    font-size: 50px;
  }
#link-container{
    display: flex;
    padding-top: 10px;
}

/* #project-arc{
    font-size: 14px;
    color:#8e6da0;
} */ 

.hover-underline-animation {
    display: inline-block;
    position: relative;
    color:#9aadbf;
}
  
  .hover-underline-animation::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color:#8e6da0;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}
  
  .hover-underline-animation:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}
  

.projects-grid {
    display: grid;
    grid-template-columns: repeat(3, minmax(300px, 1fr));
    grid-gap: 10px;
}
  @media (max-width: 1080px) {
    .projects-grid {
      grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    }
  }

.git-link {
    color: #8e6da0 !important;
}

.git-link:hover{
    color: white !important;
}

.folder{
    color:#8e6da0;
}
  
.projects-card {
    position: relative;
    cursor: default;
    display: flex;
    flex-direction: column;
    position: relative;
    height: 100%;
    padding: 2rem 1.75rem;
    background-color: transparent;
    border: solid 1px #8e6da0;
    /* opacity: .7; */
    border-radius: 16px;
}

.projects-card:hover {
    transform: translateY(-7px);
}
  
.card-header {
    margin-top: -20px;
    display: flex;
    padding: 1.25em 0 !important;
    flex-direction: row;
    justify-content: space-between;
}
.card-title {
    color: #8e6da0;
    font-size: 20px;
    padding-bottom: 10px;
    font-weight: bold;
}
  
.card-desc {
    font-size: 16px;
    padding-bottom: 30px;
    color: rgb(154, 173, 191, .5);
}
  
.card-tech {
    font-size: 14px;
    color: #8e6da0;
    font-weight: 500;
}

